<div class="d-flex flex-column justify-content-center w-100 h-100">

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="fw-light text-white m-0 header">Itunes Revenue</h1>

    <div class="input-group app-parameters-wrapper" role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        App ID
      </button>
      <ul class="dropdown-menu app-id-dropdown" aria-labelledby="dropdownMenuButton">
        <% @app_ids.each do |app_id| %>
          <li><a class="dropdown-item" data-app-id="<%= app_id %>"><%= app_id %></a></li>
        <% end %>
      </ul>

      <input class="form-control btn btn-outline-light daterangepicker-input" type="text" data-controller="daterangepicker">

      <button id="submit_form" class="btn btn-outline-light" type="button">Get</button>
    </div>

    <div id="revenue-chart" data-controller="barchart" data-barchart-revenue-value="[]">
      <canvas data-barchart-target="revenueChart" width="1000" height="475"></canvas>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function () {
    const appDropdownItems = document.querySelectorAll('.dropdown-item');
    const submitButton = document.querySelector('#submit_form');
    let selectedAppId = null;

    appDropdownItems.forEach(item => {
      item.addEventListener('click', function (event) {
        selectedAppId = event.target.getAttribute('data-app-id');
        document.getElementById("dropdownMenuButton").textContent = selectedAppId;
      });
    });

    submitButton.addEventListener('click', function () {
      if (selectedAppId) {
        const dateRangeInput = document.querySelector('.daterangepicker-input');
        const dateRange = $(dateRangeInput).val();

        const [startDate, endDate] = dateRange.split(' - ');

        const requestBody = {
          app_id: selectedAppId,
          start_date: startDate,
          end_date: endDate
        };

        fetch('/revenue/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(requestBody)
        })
            .then(response => response.json())
            .then(data => {
              $('#revenue-chart')[0].dataset.barchartRevenueValue = JSON.stringify(data);
            })
            .catch(error => console.error('Error:', error));

      } else {
        alert("Please select an App ID");
      }
    });
  });
</script>